@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Hachi+Maru+Pop&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=M+PLUS+1+Code:wght@100..700&family=Monoton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap');

/* font-family: "Space Grotesk", sans-serif; */
/* font-family: "Roboto Mono", monospace; */
/* font-family: "Hachi Maru Pop", cursive; */
/* font-family: "Poppins", sans-serif; */

@tailwind base;
@tailwind components;
@tailwind utilities;


html, body{
  height: 100%;
  margin: 0;
}

body{
  font-family: "Lato", sans-serif;
  background-color:#000;
  color:#fff;
}

.bg-img{
background-image: url(../src/assets/bg-img4.png);
}